# Introduction to Python

- General Purpose **"interpreted"** language.
- **Leading whitespace** (spaces and tabs) at the beginning of a logical line is used to compute the indentation level of the line and that **indentation** is used to determine the grouping of statements.
- Data types are **strongly** and **dynamically** typed

## 1. Hello World

In [1]:
print('Hello World')

Hello World

## 2. Variable semantics

Dynamically Typed

In [2]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

## 3. Operators

In [3]:
a = 2; b = 5;
print(b / a)
print(b // a)
print(b % a)
print(b ** a)

2.5
2
1
25

In [4]:
x = 12

In [5]:
(x > 10) and (x % 2 ==0)

True

In [6]:
x in [10, 15, 20]

False

## 3. Built-In Types

**Integers**

In [7]:
x = 5

**Floats**

In [8]:
y = 2.4

**String**

In [9]:
s = "Winter is coming"

**Boolean**

In [10]:
comp = (10 > 8)
comp

True

In [11]:
type(comp)

bool

## 4. Built-in Data Structures

- Lists

In [2]:
x = [1, 2, 3, 4]

In [3]:
x[0]

1

In [4]:
len(x)

4

In [5]:
x[-2]

3

In [6]:
x[2]

3

In [7]:
x[1:3]

[2, 3]

In [8]:
x[0:100]

[1, 2, 3, 4]

In [13]:
x[-3:1:2]

[]

In [27]:
x[:]

[1, 2, 3, 4, 5]

In [19]:
x.append(5)
x

[1, 2, 3, 4, 5]

Ex: Use slicing to pick out `2` and `3` from the above list `x`.

In [21]:
x[1:3]

[2, 3]

In [70]:
x[::-1]

[4, 3, 2, 1]

In [71]:
y = "abc"

In [72]:
y[::-1]

'cba'

In [30]:
x[0]=10

In [57]:
x

4

In [58]:
name = "sita"

In [60]:
name[0]

's'

In [65]:
name[2:10]

'ta'

- Tuples

In [28]:
t = (4, 5)

In [29]:
t[0]

4

In [32]:
t[0]=10 #immutable i.e can't change.

TypeError: 'tuple' object does not support item assignment

- Dictionaries

In [5]:
d = {'a': 2, 'b': 3}

In [6]:
d['a']

2

In [9]:
d['b'] = 2 #value gets over-ride.so, key should make unique.

In [10]:
d

{'a': 2, 'b': 2, 'e': 2}

In [35]:
d['c'] = 4

In [36]:
d

{'a': 2, 'b': 3, 'c': 4}

In [40]:
d['b']=10

In [41]:
d

{'a': 2, 'b': 10, 'c': 4}

- Sets

In [37]:
s = {1, 2, 3, 3, 4}

In [38]:
s

{1, 2, 3, 4}

## 5. Control-Flow Statements

**if-elif-else**

In [42]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

**for loop**

In [43]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [44]:
for x in [1, 2, 4]:
    print(x, end=' ')

1 2 4

**while loop**

In [46]:
i = 0
while i < 5:
    print(i, end= ' ')
    i += 1

0 1 2 3 4

In [52]:
i = 0
while i < 10:   
    i += 1
    if i == 2:
        continue
    elif i == 6:
        break
    print(i)

1
3
4
5

## 6. Defining Functions

In [53]:
def double(num):
    return 2 * num

In [54]:
double(50)

100

**Lambda (Anonymous) functions**

In [55]:
mult = lambda x, y: x * y

In [56]:
mult(2, 3)

6

## Exercises

a) Write a function `is_palindrome` to check if a string is a palindrome.

In [82]:
def is_palindrome(x):
    r = x[::-1]
    return r == x

In [83]:
is_palindrome("abba")

True

In [2]:
def is_palindrome(x):
    r = x[::-1]
    if r == x:
        return True
    else:
        return False

In [3]:
is_palindrome("palpa")

False

b) Write a function `first_letters` that given a list of names, returns a dictionary with single character, representing first letter of names, as keys and number of names with that first letter as the value.

Eg: ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju'] -> {'L': 1, 'S': 3, 'D':1, 'B': 1, 'R': 1}

In [3]:
def first_letters(names):
    char_dict = {}
    for name in names:
        first_letter = name[0]
        if not first_letter in char_dict.keys():
            char_dict[first_letter] = 0
        char_dict[first_letter] = char_dict[first_letter] + 1
    return char_dict

In [5]:

names = ['Labin', 'Sachin', 'Samrat', 'Srijana', 'Dhiraj', 'Bijay', 'Raju']
first_letters(names)

{'B': 1, 'D': 1, 'L': 1, 'R': 1, 'S': 3}

In [ ]:
#read in csv file(use csv module)
#

In [2]:
import cvs                                   #wrong
char_dict = {}
with open('genders.csv') as genders:
    rows = csv.DictReader(genders)
    for row in rows:
        first_char  = row['name'][0]
        gender      = row['gender']
        count       = int(row['count'])
        if first_char not in char_dict:
            char_dict[first_char] = {}
        if gender not in char_dict[first_char]:
            char_dict[first_char][gender] = 0
        char_dict[first_char][gender] += count

ModuleNotFoundError: No module named 'cvs'

In [3]:
import csv
import os
import sys

char_dict = {}
with open(os.path.join(sys.path[0],'genders.csv'), 'r') as genders:
    rows = csv.DictReader(genders)
    for row in rows:
        first_char  = row['name'][0]
        gender      = row['gender']
        count       = int(row['count'])
        if first_char not in char_dict:
            char_dict[first_char] = {}
        if gender not in char_dict[first_char]:
            char_dict[first_char][gender] = 0
        char_dict[first_char][gender] += count

print(char_dict)

{'a': {'female': 1210, 'male': 4945}, 'b': {'male': 3848, 'female': 402}, 'c': {'male': 378, 'female': 96}, 'd': {'male': 1892, 'female': 262}, 'e': {'male': 75, 'female': 70}, 'f': {'male': 38, 'female': 5}, 'g': {'male': 764, 'female': 93}, 'h': {'male': 485, 'female': 60}, 'i': {'male': 239, 'female': 81}, 'j': {'male': 661, 'female': 202}, 'k': {'male': 1763, 'female': 358}, 'l': {'male': 399, 'female': 135}, 'm': {'male': 1837, 'female': 407}, 'n': {'male': 1954, 'female': 449}, 'o': {'male': 130, 'female': 20}, 'p': {'male': 3100, 'female': 819}, 'q': {'female': 2}, 'r': {'male': 3538, 'female': 766}, 's': {'male': 8842, 'female': 2439}, 't': {'male': 413, 'female': 88}, 'u': {'male': 580, 'female': 89}, 'v': {'male': 211, 'female': 11}, 'w': {'male': 16, 'female': 2}, 'y': {'male': 407, 'female': 73}, 'z': {'male': 13, 'female': 5}}