# Playing with Pandas

**Pandas** is a Python Library for Data manipulation and analysis.

Some of the reasons it's useful:

* Easy read and write from different sources/formats
* Easy to do common tasks like handling missing data
* Well-suited for tabular data with different types of columns
* Plays well with other libraries like Numpy (In fact, builds on top of it). 

Basically, it's easy to load, process and analyze data with *Pandas*.

## The Data Science Process

* Define the Problem/Question
* Acquire the data
* Explore and Prepare Data <span style="color:red">(Pandas)</span>
* Build and Evaluate Models 
* Communicate Results

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Data Structures: Intro and basic access

The main datastructures in *Pandas* are **Series** and **DataFrame**.

### Series

* One-dimensional array-like structure
* capable of holding any (one) data type
* Has indices

So, it's a numpy array with row labels and a name. Basically a *smart* array.

![A series is an indexed array](../images/Series.png)

In [ ]:
# "Normal" integer indexed series
s = pd.Series([22, 12, 18, 25, 30])
s

In [ ]:
# Series with String index and a name
s = pd.Series([22, 12, 18, 25, 30], index=['Anna', 'Bob', 'Carol', 'Dave', 'Elsa'], name='Age')
s

In [ ]:
s['Bob']

In [ ]:
s['Anna': 'Carol']

### DataFrame

* Two-dimenstional tabular data structure
* Has indices and columns
* Columns can be of different data types

Could think of it as:

* Dictionary of *Series* objects with same index, or
* A 2-D numpy array with row and column labels.

![A DataFrame has data, row labels and column labels](../images/DataFrame.png)

In [ ]:
people_data = [[22, 'F'], [12, 'M'], [18, 'F'], [25, 'M'], [30, 'F']]
names = ['Anna', 'Bob', 'Carol', 'Dave', 'Elsa']
fields = ['Age', 'Gender']

In [ ]:
df = pd.DataFrame(people_data, index=names, columns=fields)
df

In [ ]:
df = pd.DataFrame({'Age': [22, 12, 18, 25, 30], 'Gender': ['F', 'M', 'F', 'M', 'F'], 'Id': [12, 13, 14, 15, 16]}, index=names)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df['Age']

In [ ]:
df.loc['Anna']

In [ ]:
df[['Age', 'Id']]

In [ ]:
df.loc['Anna': 'Carol', ['Age', 'Id']]

### Exercise 1: 

Select columns *Age* and *Gender* for *Bob* and *Elsa*

In [ ]:
# Code Here

### Boolean Indexing

In [ ]:
df[df['Gender'] == 'M']

### Exercise 2:

select rows where *Age* > 20.

In [ ]:
# Code Here

## 2. Loading Data

We'll continue our exploration of *Pandas* on the [Titanic Dataset](https://www.kaggle.com/c/titanic).

It has data on the people who were onboard the Titanic and whether they survived or not. 
The main analysis is to determine what sorts of people were likely to survive.

*Note*: Instead of `df['ColumnName']`, we can actually do `df.ColumnName` but for consistency we'll use the former throughout this notebook.

In [ ]:
df = pd.read_csv('../data/titanic.csv')

# Quick peek of the data. First 5 rows.
df.head()

## 3. Basic Exploration and Analysis

Let's look at data dimensionality, and feature names and types.

In [ ]:
df.shape

So the table contains 891 rows and 12 columns.

In [ ]:
df.columns

We can use `info()` method to output some general information about the DataFrame:

In [ ]:
df.info()

We can use `describe()` method to generate descriptive statistics.

In [ ]:
df.describe()

### What was the Age distribution?

In [ ]:
df['Age'].plot.hist()
plt.xlabel('Age')
plt.ylabel('No. of People')

In [ ]:
# Mean Age
df['Age'].mean()

In [ ]:
# Median Age
df['Age'].median()

In [ ]:
# Count of columns. Number of non-null values
df['Age'].count()

In [ ]:
df['Age'].max()

### What was the proportion of men and women?

We can use the `value_counts()` method on a particular column to get the values.

In [ ]:
df['Sex'].value_counts()

Or we can plot the output.

In [ ]:
df['Sex'].value_counts().plot.bar()

### Exercise 3:

What was the mean age of the men?

In [ ]:
# Code Here

### Exercise 4:

Plot the histogram of *Fare* paid by 1st class passengers (i.e where *Pclass* is *1*).

In [ ]:
# Code Here

### What was the survival by sex?

In [ ]:
df.groupby(by=['Survived', 'Sex'])['Sex'].count().unstack('Survived').plot(kind='bar')

### Exercise 5

What was the survival by Passenger class? 

Plot a bar chart (like above) showing survival by class (*Pclass*).

In [ ]:
# Code Here

## 4. Data Manipulation and Processing

When using the data for ML models, we need the features to be numerical. 

To do so, we may need to: drop unnecessary columns, fill missing values, convert non-numerical values to numerical values, etc. 

Also, we may add in new features.

### Dropping columns

In [ ]:
df.drop('Cabin', axis=1).head()

However, it doesn't drop in place. So `cabin` is still present in `df`.

In [ ]:
df.head()

So we need to assign the returned df back. (Or we can use `inplace=True`). Here, let's create another DataFrame with the columns removed.

In [ ]:
new_df = df.drop(['Ticket', 'Cabin', 'Name'], axis=1)
new_df.head()

### Handling missing values

We can handle missing values by either dropping rows with missing values or filling it in with sensible alternatives. Here, we do the latter.

Let's quickly check which columns have missing values.

In [ ]:
new_df.info()

So `Age` and `Embarked` have missing values.

In [ ]:
# Fill "Age" with mean value
mean_age = new_df['Age'].mean()
mean_age

In [ ]:
new_df['Age'] = new_df['Age'].fillna(mean_age)

### Exercise 6:

Fill missing values in the *Embarked* column by its mode (most common value). 

Note: `mode()` actually returns a `Series` instead of a single value. Take the first element.

In [ ]:
# Code Here

In [ ]:
new_df.info()

### Mapping Features

We can use the `map()` function to map values in a column to new values.

In [ ]:
gender_map = {'male': 0, 'female': 1}
new_df['Sex'] = new_df['Sex'].map(gender_map)
new_df.head()

### Exercise 7:

Map the value of `Embarked` to numerical values. 

(If needed use `value_counts` or `unique()` to see possible values in `Embarked`)

In [ ]:
# Code Here

## Wrapping up

Now that we have the DataFrame ready for the next stage. Let's save it using the `to_csv` function.

In [ ]:
# One last check
new_df.head()

In [ ]:
new_df.to_csv('processed_titanic.csv', index=False)

## Endnotes and Links

* [Pandas: Official Documentation](https://pandas.pydata.org/pandas-docs/stable/). Obviously useful.
* [Awesome Cheatsheet](https://www.enthought.com/wp-content/uploads/Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2.pdf). Concise useful cheatsheet. 
* [A visual guide to Pandas](https://www.youtube.com/watch?v=9d5-Ti6onew) A visual intro.
* [Titanic Kernels](https://www.kaggle.com/c/titanic/kernels). For other Data Analysis and Exploration on the Titanic Dataset.
* [Pandas exercises](https://github.com/guipsamora/pandas_exercises). For tons of exercise material.
* [Pandas .head() to .tail()](https://www.youtube.com/watch?v=7vuO9QXDN50) Online workshop.